Mbody {
   font-family: serif;
   margin: 0;
   padding: 0;
   color: #ffffff;
   line-height: 1.5;
}

Mheader {
   padding-top: 50px;
}

.av {
   position: relative;
   bottom: 150px;
   right: 180px;
}

Mheader .nav {
   border-radius: 15px;
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   width: 70%;
   height: 40px;
   align-items: center;
   align-content: center;
   justify-content: space-around;
   gap: 10px;
   color: #18599C;
   background-color: #F1F1F1;
   position: relative;
   left: 17%;
   bottom: 80px;
}

Mheader .logo img {
   width: 10%;
   height: 7%;
   position: relative;
   left: 100px;
   bottom: 5px;
}

Mheader .nav p {
   margin: 0;
   font-size: 20px;
   font-weight: bold;
}

Mmain{
   height: 300px;
   background-image: url(./img/Frame\ 1261154533.png);
   background-size: cover;
   background-position: center;
   position: relative;
   bottom: 140px;
}

.Mrechercher {
   text-align: center;
   padding: 25px;
   margin: 10px auto;
   max-width: 600px;
   border-radius: 8px;
}

.Mrechercher input[type="email"] {
   padding: 10px;
   margin: 10px 0;
   width: 80%;
   max-width: 400px;
   border: 1px solid #f7f7f7;
   border-radius: 10px;
}

.Mrechercher input[type="submit"] {
   padding: 10px 20px;
   background-color: #D14A37;
   color: #fff;
   border: none;
   border-radius: 10px;
}

input[type="email"],
 input[type="submit"]{
   position: relative;
   bottom: 25px;
 }

Mmain .Mrechercher p {
   font-size: 30px;
   position: relative;
   bottom: 10px;
}
Mfooter {
   background-color: #18599C;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 15px;
}

Mfooter section {
   width: 100%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 20px;
   max-width: 1200px;
}

Mfooter div {
   max-width: 250px;
   text-align: center;
}

Mfooter h3 {
   color: #ffffff;
}

Mfooter p {
   color: #A7A7A7;
   margin: 5px 0;
}

Mfooter img {
   width: 35px;
   margin: 5px;
}

Mfooter .liste, .Mrésaux p {
   text-align: center;
}
Mfooter .Mdiscription img {
   width: 100px;
   position: relative;
   right: 90px;
}

Mfooter .Mdiscription h2{
   position: relative;
   bottom: 90px;
}
Mfooter .Mdiscription p{
   position: relative;
   bottom: 90px;
}
/*meryam salhi*/

@media (max-width: 400px) {   
      
   Mheader {      
       display: none;   
   }   
      
   Mbody {      
       font-size: 14px;      
       line-height: 1.4;      
       position: relative;   
   }   
      
   Mmain {      
       height: 200px;      
       background-size: cover;      
       position: relative;      
       top: 10px;   
   }  

   Mmain .Mrechercher p{
      font-size: 20px;
   }
   .Mrechercher {      
       padding: 15px;      
       margin: 5px auto;      
       width: 90%;   
   }   
   .Mrechercher input[type="email"] {      
       width: 60%;   
   }   

   Mfooter{
      margin-top: 80px;
   }  
   Mfooter section {
      margin-left: 10px;
      margin-right: 10PX;          
       flex-direction: row;      
       align-items: center;      
       gap: 10px;   
   } 

   Mfooter div {      
       max-width: 100%;      
       text-align: center;   
   }   
   
   Mfooter .Mdiscription img {      
       width: 80px;      
       position: relative;      
       top: 50px;   
   }   

   Mfooter .Mdiscription p {      
       position: relative;      
       top: 5px;   
   }   

   Mfooter .Mdiscription h2 {      
       margin: 0;      
       text-align: center;      
       position: relative;      
       bottom: 5px;   
   }

   .MServices {
      position: relative;
      bottom: 10px;
   }
}