 
 
   /* css for serves hamza */
 body{
    margin: 0;
    font-family: monospace;
 }

*{
    padding: 0;
    margin: 0;
    
    } 
    .titel1{
    color: #18599C ;
    margin-left:30px;
    text-align: center;
    
    }
    .titel3{
        color: #18599C ;
    margin-left:30px;




    }
    .text2{
        color: #107bd3;
    font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 1rem;
        margin-left:30px;
     
    }
    .center2{
        display: flex;
        position: relative;
    
    }
    .image1{
        position: absolute;
        
        z-index: 1;
       
       
       
    }
    .image2{
        position: absolute;
       top: 50px;
       left: 100px;
        
       
    }
    .image3{
        position: absolute;
         right: 0;
         top: 240px;

    }
    .image4{
        position: absolute;
        top: 270px;
       
        
    }
.canter3{
   
   
    margin-top: 420px;
}

.servse {
    list-style-type:circle ;
    padding-left: 20px;
    font-family: Arial, sans-serif; 
    font-size: 18px; 
    color: #333; 
    margin-left:30px;
    text-decoration: none;
}


.servse li {
    
    text-decoration: none;

}

.servse li::marker {
   
    color: #000000; 
    font-size:  30px
}



@keyframes appear{
    
from{
    opacity: 0;
  transform: translateX(-100px);
}
to {
    opacity: 1;
    transform: translateX(0px);
    
}



}

.image1,.image2,.image3,.image4
{
    animation: apper linear;
    animation-timeline: view();
    animation-range: entry 30% cover 40%   ;
}

.buttonh{
background-color:  #D14A37;
padding: 5px 20px 5px 20px;
border-radius: 54px;
color: white;
border: none;
margin-left: 330px;
}

.avion{
display: none;
}
.center5{
    display: none;
}
.gal{
    display: none;
}

@media (min-width: 480px){
    .avion{
        display:inline;
       

         }
  
    .center2{
        display: none;
        position: relative;
    }
    .gal{
        display:inline;
    } 
      
.canter3{

 
 display: flex;
 margin-top: 100px;
 
}

.center5{
    display: inline;
    position: relative;
    width: 1000px;
    border: #107bd3;
    height: 300px;

 

}
    
    .titel1{
        color: #18599C ;
        margin-left:30px;
       font-size: 4rem;
       
        
        }
        .titel3{
        color: #18599C ;
        margin-left:30px;
        font-size: 4rem;
      
        }
        .text2{
            color: #107bd3;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 3rem;
            margin-left:30px;
         
        }
        .servse{
            font-size: 1rem;

        }
      
        .avion{
            position: absolute;
            width:400px;
            height:200px;
            right: 0px;
            top: 110px;

        }
        .logomaroc{
            position: absolute;
            width:500px;
            height:200px;
            right: 0px;
            bottom: 100px;
            z-index: -1;
           
            
           
        }
        .logo12{
            position: absolute;
            width:342px;
            height:200px;
            z-index: -1;
           right: 40px;
           top: 100px;
            
        }
        .buttonh{
            background-color:  #D14A37;
            padding: 10px 50px 10px 50px;
            border-radius: 54px;
            color: white;
            border: none;
            margin-left: 40px;
            }

           .image5 {
            position: absolute;
right: 40px;
            
            
           }  
           .image6{
            position: absolute;
            

           }   
 
           .image7 {
            position: absolute;
            
top: 250px;
right: 0px;

           }   
           .image8 {
            position: absolute;
          
top: 300px;
left: 30px;
   
            } 
.sd{

    margin-top: 100px;
   }
.galory{
margin: 100px;
display: grid;

grid-template-columns: repeat(4,1fr);
gap: 20px;
align-items: center;
justify-items: center;
                    
    }  

    .text3{
        color: #1E1E1E;
        text-align: center;

    } 
    .gal1{
        border-radius: 10px;
        transform: rotate(5deg);
    }

    .gal2{
    
        transform: rotate(10deg);
        border-radius: 10px;
    }
    .gal3{
        transform: rotate(-10deg);
        border-radius: 10px;
    }

    .gal4{
        transform: rotate(-10deg);
        border-radius: 10px;
      
    }


}

  /* end parti hamza   */